@inherits LayoutComponentBase

<button onclick="document.getElementById('top').scrollIntoView({behavior:'smooth'})" class="rounded-full w-8 h-8 fixed bottom-4 right-4 z-10 bg-black text-white">
    <svg  xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
    </svg>
</button>

<a href="/">
    <img src="imgs/pokelogo.png" class="w-64 h-autp mx-auto my-12" alt="">
</a>

<div class="my-4">
    @Body
</div>

