@using PokeBlaze.Pages
@using Index = PokeBlaze.Pages.Index
<div class="bg-blue-200 hover:bg-gray-800 text-white text-center rounded-md py-4 cursor-pointer 
bg-opacity-25 backdrop-filter backdrop-blur-lg">
    <a href="/pokemonview/@pokemon.Id">
        <span class="capitalize">@pokemon.Name</span>
        <img src="@pokemon.Image" class="mx-auto">
    </a>
</div>
@code {
    [Parameter]
    public Index.Pokemon pokemon { get; set; }
}